<!--
 * @Author: ken yang
 * @Date: 2022-11-14 16:57:24
 * @LastEditTime: 2023-08-03 14:50:36
 * @LastEditors: ken yang
 * @Description:
 * @FilePath: /uexch_h5/index.html
-->
<!DOCTYPE html>
<html version="<%- version %>" buildTime="<%- buildTime %>">

<head>
  <meta charset="UTF-8" />
  <link rel="icon" href="./favicon.png" />
  <!-- 在 head 标签中添加 meta 标签，并设置 viewport-fit=cover 值 -->
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, viewport-fit=cover" />
  <meta name="keywords" content="BiFinance cryptocurrency exchange, convenient to buy Bitcoin, Ethereum" />
  <meta name="description" content="BiFinance is an institutional-grade cryptocurrency trading platform where you can buy and sell Bitcoin, Ethereum and more cryptocurrencies quickly and easily." />
  <script type="text/javascript" src='./font-size.js'></script>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
  <title>BiFinance - cryptocurrency exchange, convenient to buy Bitcoin, Ethereum</title>

  <script src="https://unpkg.com/vconsole@latest/dist/vconsole.min.js"></script>
<script>
  // var vConsole = new window.VConsole();
</script>

  <style>
    .icon {
       width: 1em; height: 1em;
       vertical-align: -0.15em;
       fill: currentColor;
       overflow: hidden;
    }
    @font-face {
      font-family: 'Helvetica';
      font-display: swap;
      src: url('//db.onlinewebfonts.com/c/63137a821976b7fdfcf941ab1528cb19?family=AG_Helvetica');
    }

    @font-face {
      font-family: 'PingFang';
      font-display: swap;
      src: url('//db.onlinewebfonts.com/c/6bc2ba289518904b3578741ed012e2a6?family=PingFang+SC');
    }
  </style>
  <script type="module"  src="./js/index-v1.1.28-f4a5fda3.js"></script>
  <link rel="modulepreload"  href="./m/__commonjsHelpers__-5b8a0dfb.js">
  <link rel="modulepreload"  href="./m/vue-10f3042e.js">
  <link rel="modulepreload"  href="./m/vendor-f8157dbf.js">
  <link rel="modulepreload"  href="./m/vue-router-612eab41.js">
  <link rel="modulepreload"  href="./m/vant-f0b40d2b.js">
  <link rel="modulepreload"  href="./m/vue-i18n-d608650a.js">
  <link rel="stylesheet" href="./css/vant-v1.1.28-81a0d0a4.css">
  <link rel="stylesheet" href="./css/index-v1.1.28-4f56bd6b.css">
  <script type="module">try{import("_").catch(()=>1);}catch(e){}window.__vite_is_dynamic_import_support=true;</script>
  <script type="module">!function(){if(window.__vite_is_dynamic_import_support)return;console.warn("vite: loading legacy build because dynamic import is unsupported, syntax error above should be ignored");var e=document.getElementById("vite-legacy-polyfill"),n=document.createElement("script");n.src=e.src,n.onload=function(){System.import(document.getElementById('vite-legacy-entry').getAttribute('data-src'))},document.body.appendChild(n)}();</script>
</head>

<body>
  <!-- <div id="html-loading-box">
    <div class="html-loading">
      <img class="image" src="/loading.gif">
    </div>
  </div> -->
  <div id="app">
    <!--app-html-->
  </div>
  

  <script >!function(){var e=document,t=e.createElement("script");if(!("noModule"in t)&&"onbeforeload"in t){var n=!1;e.addEventListener("beforeload",(function(e){if(e.target===t)n=!0;else if(!e.target.hasAttribute("nomodule")||!n)return;e.preventDefault()}),!0),t.type="module",t.src=".",e.head.appendChild(t),t.remove()}}();</script>
  <script  id="vite-legacy-polyfill" src="./assets/polyfills-legacy.eec0ddff.js"></script>
  <script  id="vite-legacy-entry" src="./js/index-legacy-v1.1.28-55e764dd.js">System.import(document.getElementById('vite-legacy-entry').getAttribute('src'))</script>
</body>
<!-- <script src="https://unpkg.com/vconsole/dist/vconsole.min.js"></script> -->

</html>
