<!--
 * @Author: ken yang
 * @Date: 2022-11-14 16:57:24
 * @LastEditTime: 2023-08-03 14:50:36
 * @LastEditors: ken yang
 * @Description:
 * @FilePath: /uexch_h5/index.html
-->
<!DOCTYPE html>
<html version="<%- version %>" buildTime="<%- buildTime %>">

<head>
  <meta charset="UTF-8" />
  <link rel="icon" href="./favicon.png" />
  <!-- 在 head 标签中添加 meta 标签，并设置 viewport-fit=cover 值 -->
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, viewport-fit=cover" />
  <meta name="keywords" content="BiFinance cryptocurrency exchange, convenient to buy Bitcoin, Ethereum" />
  <meta name="description" content="BiFinance is an institutional-grade cryptocurrency trading platform where you can buy and sell Bitcoin, Ethereum and more cryptocurrencies quickly and easily." />
  <script type="text/javascript" src='/font-size.js'></script>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
  <title>BiFinance - cryptocurrency exchange, convenient to buy Bitcoin, Ethereum</title>

  <script src="https://unpkg.com/vconsole@latest/dist/vconsole.min.js"></script>
<script>
  // var vConsole = new window.VConsole();
</script>

  <style>
    .icon {
       width: 1em; height: 1em;
       vertical-align: -0.15em;
       fill: currentColor;
       overflow: hidden;
    }
    @font-face {
      font-family: 'Helvetica';
      font-display: swap;
      src: url('//db.onlinewebfonts.com/c/63137a821976b7fdfcf941ab1528cb19?family=AG_Helvetica');
    }

    @font-face {
      font-family: 'PingFang';
      font-display: swap;
      src: url('//db.onlinewebfonts.com/c/6bc2ba289518904b3578741ed012e2a6?family=PingFang+SC');
    }
  </style>
  <script type="module" crossorigin src="./js/index-v1.1.28-fb871f79.js"></script>
  <link rel="modulepreload" crossorigin href="./m/__commonjsHelpers__-5b8a0dfb.js">
  <link rel="modulepreload" crossorigin href="./m/vue-10f3042e.js">
  <link rel="modulepreload" crossorigin href="./m/vendor-f8157dbf.js">
  <link rel="modulepreload" crossorigin href="./m/vue-router-d1467f91.js">
  <link rel="modulepreload" crossorigin href="./m/vant-f0b40d2b.js">
  <link rel="modulepreload" crossorigin href="./m/vue-i18n-d608650a.js">
  <link rel="stylesheet" href="./css/vant-v1.1.28-81a0d0a4.css">
  <link rel="stylesheet" href="./css/index-v1.1.28-e8d34079.css">
</head>

<body>
  <!-- <div id="html-loading-box">
    <div class="html-loading">
      <img class="image" src="./loading.gif">
    </div>
  </div> -->
  <div id="app">
    <!--app-html-->
  </div>
  

</body>
<!-- <script src="https://unpkg.com/vconsole/dist/vconsole.min.js"></script> -->

</html>
